.container-one {
    border: 2px solid #3D5A80;
}

.container-two {
    border: 2px solid #98C1D9;
}

.container-three {
    border: 2px solid #EE6C4D;
}

.container-four {
    border: 2px solid #293241;
}

.container-five {
    border: 2px solid #E0FBFC;
}
