ol li {
    background-color: yellow;
}

ol li:nth-child(even) {
    background-color: green;
}

ol li:nth-child(odd) {
    text-transform: uppercase;
}


h1, h3 {
    color: red;
}

h1 em, h3 em{
    font-size: 40px;
    border: 1px solid black;
}

li {
    font-size: 20px;
}

li em {
    font-weight: bold;
}

#lista-nao-ordenada li:not(:nth-child(n + 4)) {
    color: blue
}

.cor-de-fundo {
    background-color: pink;
}

#referencias li a:hover {
    font-weight: bold;
}

#referencias li a[href*="stackoverflow"] {
    color: orange;
}

#referencias li a[href*="w3schools"] {
    color: green;
}

#referencias li a[href*="mozilla"] {
    color: black;
}

#referencias li a[href*="devdocs"] {
    color: yellow;
}

#referencias li a[href*="trybe"] {
    color: green;
}